#root {
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #1c4f36 0.0%, #292929 50.0%, #a80e37 100.0%);
}

#entrarButton {
    -fx-background-color: #21172f;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 17;
    -fx-cursor: hand;
}
.vbox-content > * {
    -fx-font-size: 18px;
    -fx-padding: 10;
}

#entrarButton:hover {
    -fx-background-color: linear-gradient(to right, #3e1728, #a40050);
    -fx-scale-x: 1.06;
    -fx-scale-y: 1.06;
    -fx-effect: dropshadow(gaussian, #70002c, 30, 0.1, 0, 0);
 
}
#entrarButton:pressed {
    -fx-background-color: #a40050;
    -fx-translate-y: 3; 
}

.text-field, .password-field {
    -fx-background-radius: 17;
    -fx-border-radius: 17;
    -fx-border-color: #ffffff;
    -fx-border-width: 2;
    -fx-background-color: linear-gradient(from 0.0% 0.0% to 100.0% 0.0%, #2a2e2c 0.0%, #2b2b2b 50.0%, #2e2527 100.0%);
     -fx-text-fill: #ffffff;
    -fx-padding: 12;
}
.text-field:hover, .password-field:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, #959595, 15, 0.4, 0, 0); /* opcional: glow futurista */
}


.label {
    -fx-font-family: "Roboto";
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}
